@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8fb;
}

/* Banner */
.headerBanner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: #2196f3;
  height: 60px;
}

.headerLogo{
  width: auto;
  height: 50%;
  padding-left: 20px;
  -moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}

.footer {
  color: #a0a0a0;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 100%;
}

.appContainer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.FindWeather {
  padding-top: 10px;
  color: #595A4A;
  font-weight: bold;
  text-align: center;
  font-size: clamp(14px, 2.5vw, 18px);
}

.weatherForm {
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90vw;
  filter: drop-shadow(0px 4px 4px rgba(180, 180, 180, 0.25));
}

.btnWrapper {
  margin-top: 10px;
  align-self: flex-end;
}

.searchBtn {
  width: 40px;
  color: #086929;
  height: 40px;
  font-size: clamp(14px, 2.5vw, 18px);
  border: 0;
  background: #5bf8bf;
  box-shadow: 0px 4px 4px rgba(180, 180, 180, 0.25);
  border-radius: 3px;
}

.locationBtn {
  margin-right: 5px;
  color: white;
  min-width: 40px;
  min-height: 40px;
  font-size: clamp(14px, 2.5vw, 18px);
  border: 0;
  background: #4f9af1;
  box-shadow: 0px 4px 4px rgba(180, 180, 180, 0.25);
  border-radius: 3px;
}

.loadingDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Weather Card Selectors */

.weatherCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  opacity: 1;
  transition: 0.3s;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  min-height: 311px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(180, 180, 180, 0.25);
  border-radius: 10px;
}

.weatherMain {
  display: flex;
  padding-top: 20px;
  align-items: center;
  flex-direction: column;
}

.IconTempWrapper {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
}

.cardCityName {
  color: #595A4A;
  text-align: center;
  font-weight: 300;
  font-size: clamp(14px, 2.5vw, 18px);
  padding-bottom: 30px;
}

.cardTemp {
  font-weight: normal;
  color: #2196f3;
  font-size: clamp(40px, 3.5vw, 70px);
}

.cardWeatherDesc {
  text-transform: capitalize;
  padding-top: 20px;
  color: #595A4A;
  font-weight: normal;
  font-size: clamp(18px, 2.5vw, 22px);
  text-align: center;
}

.weatherIcon {
  width: 89px;
  height: 89px;
}

.weatherConditions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
}

.conditionSquare {
  margin: 5px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 98px;
  min-height: 60px;
  font-size: 12px;
  background: #faf8f8;
  border-radius: 4px;
}

.conditionTitle {
  color: #595A4A;
  font-weight: normal;
  font-size: clamp(14px, 2.5vw, 21px);
}

.conditionInfo {
  color: #595A4A;
  font-weight: 300;
  font-size: clamp(14px, 2.5vw, 24px);
}

.switchContainer {
  display: flex;
  margin: 0 auto;
  width: 300px;
  padding-top: 10px;
}

/* Toggle Btn CSS */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 6px;
  bottom: 8px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2c71c2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: clamp(14px, 2.5vw, 14px);
  font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  width: 70px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Search Selectors */

.searchWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.searchedCity {
  border: 0;
  width: 68%;
  height: 45px;
  border-radius: 30px;
  /* font-weight: 700; */
  background: #2196f3;
  color: #faf8f8;
  font-weight: 300;
  font-size: clamp(14px, 2.5vw, 18px);
  padding-left: 21px;
}

.searchedCity::placeholder{
  color:  #faf8f8;
}

.countrySelect {
  padding-left: 20px;
  background: #2196f3;
  color: #eeeeee;
  font-weight: 300;
  border: 0;
  border-radius: 30px;
  height: 45px;
  width: 30%;
  font-size: clamp(14px, 2.5vw, 18px);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .countrySelect{
    padding-left: 4px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .conditionSquare {
    width: 195px;
  }

  .cardContainer,
  .switchContainer {
    width: 588px;
  }

  .weatherIcon {
    width: 120px;
    height: auto;
  }

  .cardContainer {
    height: 420px;
  }

  .conditionTitle{
    font-size: 15px;
  }

  .conditionInfo{
    padding-top: 3px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
